[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/chowdsp_utils"]
	path = libs/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils.git
[submodule "libs/chunkware-simple-dynamics"]
	path = libs/chunkware-simple-dynamics
	url = https://github.com/grawlinson/chunkware-simple-dynamics.git
